{% extends "base.html" %}
{% block content %}
<style>
  #room_hide{
    text-align: center;
  }
  #room_hide form{
    display: inline-block;
  }
</style>
<div id="room_hide" >
  <form method='GET' class="form-horizontal" action='/find_pass_post/'>
    <h4>
      除邮箱密码不一致外,其他密码均统一，此处找回除邮箱密码的所有密码
    </h4>
    <div class="control-group">
      <label class="control-label">用户名</label>
      <div class="controls">
        <input type="text" id="username" name='username' placeholder="请输入你的用户名(不需要加邮箱后缀)">
      </div>
    </div>
    <button type='button' id="btn" class="btn btn-success">找回密码</button>
 </form>
</div>
<script type="text/javascript">
  (function(){
    var btn = $("#btn");
    var username=$("#username");
    btn.on("click",function(){
      $.ajax({
             type:"post",
             url:"/find_pass_post/",
             data:{username:username.val()},
             success:function(result){

               if(result == 'ok')
               {
                 alert('密码链接已经发送到你邮箱中,请注意查收');
                 location.href='/'
               }
               else {
                 alert(result)
               }


             }
      });
    });
  })();


</script>

{% endblock %}